$black:black;
$white:white;
$accents:#FACB36;
$bg:#FCF4EA;
$borders:#a1a2a1 ;
$text:#444645;
$bodyFont:"Montserrat", sans-serif;
$headingsFont:"Amatic SC", sans-serif;
$fontSsize:15px;
$transition:0.3s linear;
