@import 'vars';
@import 'mixins';
@import 'globals';

body{
    background-color: $bg;
}

// nav bar
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    .logo{
        font-size: 20px;
        a{
            color: $accents;
        }
    }
    .menu{
        padding: 20px 0;
        ul{
            display: flex;
            li{
                a{
                    color: $white;
                    margin: 10px;
                }
            }
        }
    }
}

// hero sekcija
.hero{
    display: flex;
    justify-content: space-between;
    .text{
        width: 48%;
        p{
            color: $text;
            padding: 18px 0;
        }
        h3{
            color: $white;
            padding-top: 20px;
        }
    }
    .img{
        width: 48%;
        img{
            width: 100%;
        }
    }
}
// about sekcija
.about{
    display: flex;
    .tekst{
        // padding: 0 10px;
        width: 48%;
    }
    .img{
        display: flex;
        justify-content: space-between;
        width: 48%;
        img{
           max-width: 0 0 60%;
        }
        .sl{
            position: relative;
            margin-top: 120px;
            margin: auto;
            top: 29px;
        }
        .sl1{
            margin-right: -50px;
        }
    }
    h2{
        padding-bottom: 20px;
    }
   padding: 100px 0;
    span{  
        position: relative;
        display: flex;
        p{
            padding-bottom: 15px;
            color: $accents;
        }

        hr{
            position: absolute;
            height: 1px;
            width: 3%;
            background-color: $border;
            top: 12px;
            left: 190px;
        }
    }
    article{
        width: 100%;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        .br{
            margin-right: 5px;
        }
        span{
            font-size: 1.3rem;
            margin-bottom: 10px;
            color: $lightBloo;
            img{
                padding-right: 10px;
                margin-top: -14px;
            }
        }
    }
    p{
        color: $text;
    }
}